<div class= 'container'>
  <%= simple_form_for(@item) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :color %>
      <%= f.input :photos, as: :file , input_html: { multiple: true } %>
      <%= f.input :price %>
      <%= f.input :location, collection: Item::VILLES %>

    </div>

    <div class="form-actions btn btn-primary">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
