<h1 class="text-center">Kaftone</h1>
<h2 class="text-center">Be Haute Couture</h2>


<div class="container">
  <div class="row justify-content space-between">
          <% @items.each do |item|%>
            <div class="col-12 col-sm-4">
              <a href="<%= item_path(item) %>">
              <div class="card">
                <img src="<%= item.picture %>" class="card-img-top" alt="...">
              </a>
                  <div class="card-body">
                      <h5 class="card-title"><%= item.title %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= item.price %> MAD</h6>
                      <h6 class="card-text"><%= item.color %></h6>
                      <%= link_to "More details", item_path(item), class:"btn" %>
                  </div>
                </div>
              </div>
          <% end %>
  </div>
</div>
