<h1>Lorem Ipsum</h1>
<ul>
<li><%= @item.title  %></li>
<li><%= @item.description %></li>
<li><%= @item.price  %></li>
<li><%= @item.color%></li>
<li><%= @item.location %></li>
<li><%= @item.picture %></li>
