<h1>KAFTONE</h1>
<div>
  <button class="btn btn-primary rounded border-0">
    <%= link_to 'Back to caftans', items_path, class:"text-decoration-none" %>
  </button>
</div>
<div>
  <%= button_to 'Destroy', item_d_path(@item), method: :delete, form: { data: { turbo: true, turbo_confirm: 'Are you sure?' } }, class: "btn btn-primary rounded border-0" %>
</div>
<div class="d-flex justify-content-center roundes">
  <div>
    <% @item.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="m-3 p-3">
    <h3><strong><%= @item.title %></strong></h3>
    <hr>
    <h4><i class="fa-regular fa-credit-card"></i><%= @item.price%> MAD</h4>
    <hr>
    <h4><i class="fa-solid fa-droplet"></i> <%= @item.color%></h4>
    <hr>
    <h4><i class="fa-solid fa-location-dot"></i> <%= @item.location %></h4>
    <hr>
    <h5><%= @item.description %></h5>
    <hr>

  </div>













































  <div>
    <div data-controller="insert-in-list">
      <div data-insert-in-list-target="items">
        <% if @item.reviews.blank? %>
          Be the first to leave a review for <%= @item.title %>
        <% else %>
          <% @item.reviews.each do |review| %>
            <p><%= review.content %></p>
            <%= link_to "delete review", item_review_path(review), method: :delete, data: {confirm: 'are you sure you want to delete this review?'}%>
          <% end %>
        <% end %>

      </div>
 <%= render "reviews/form", item: @item, review: @review %>
</div>



    </div>
  </div>
</div>

</div>


<button class="btn btn-primary rounded border-0">
  <%= link_to 'Back to caftans', items_path, class:"text-decoration-none" %>
</button>
<button class="btn btn-primary rounded border-0">
  <%= link_to 'Edit', edit_item_path(@item), class:"text-decoration-none" %>
</button>
